<!-- Generated template for the MpSlidingListComponent component -->
<ion-list>
  <div *ngIf="items$ | async as items; else loading">
    <ng-container *ngFor="let item of items">
      <mp-sliding-item
        (itemClick)="onItemClick(item)"
        (optionClick)="onOptionClicked($event)"
        [item]="item"
        [menu]="menu">
      </mp-sliding-item>
    </ng-container>

    <ng-container *ngIf="!items.length">
      <div text-center>
          No items.
      </div>
    </ng-container>

  </div>
  <ng-template #loading>
      <mp-loader></mp-loader>
  </ng-template>
</ion-list>
