<!-- Generated template for the DynamicTaskListComponent component -->
<div *ngIf="context && context.length">
  <ion-list>
    <ion-item-sliding #item *ngFor="let task of context">
      <ion-item>
        {{ task.name }}
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="unread(item)">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
