<!-- Generated template for the MpSlidingItemComponent component -->
<ion-item-sliding detail-push #itemSliding>
  <ion-item>
    <ion-avatar item-start>
      <ion-icon *ngIf="item.done" name="done-all"></ion-icon>
      <img *ngIf="!item.done" src="assets/imgs/logo.png">
    </ion-avatar>
    <ion-row>
      <ion-col col-6>
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </ion-col>

      <ion-col col-6>
        <p>{{ (item.done ? item.closed : item.created) | date }}</p>
      </ion-col>
    </ion-row>
  </ion-item>

  <!-- Right swipe Options -->
  <ion-item-options side="right">
    <button ion-button *ngFor="let entry of menu.right" expandable (click)="onOptionClicked(itemSliding, entry.id, item)" [color]="entry.color">
      <ion-icon [name]="entry.icon"></ion-icon>
      {{entry.label}}
    </button>
  </ion-item-options>
</ion-item-sliding>
